.project h1{
    color: #082c74;
    text-align: center;
}

.project h5{
    text-align: center;
    color: #00b9f5;
    font-weight: 400;
}


.sub_project{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sub_project1{
    width:  480px;
    height: 270px;
    margin: 10px;
    position: relative;
}


.sub_project1 img{
    width:  100%;
    height: 100%;
    border-radius: 15px;
    border: #00b9f5 solid 2px;
    z-index: 5;
    cursor: pointer;
}

.sub_sub_project1{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;

    width: 100%;
    height: 100%;
    background-color: #082c74;
    border: #00b9f5 solid 2px;
    border-radius: 15px;
    z-index: 10;
}



.sub_sub_project1 h2{
    color: white;
}

.sub_sub_project1 p{
    color: white;
    font-size: 15px;
}

.sub_sub_project1 a{
    color: white;
    text-decoration: none;
    background-color: #00b9f5;
    padding: 15px;
    border-radius: 20px;
    /*transition: transform .2s;*/
}

/*

.sub_sub_project1 a:hover{
    transform: scale(1.5);
}*/

#lightblue{
    color: #00b9f5;
}

#visibleyes{
    display: block;
}

#visibleno{
    display: none;
}

@media (min-device-width: 1400px) {
  
    .sub_project{
        margin-left:  15%;
        margin-right: 15%;
    }
  
}


@media (min-device-width: 300px) and (max-device-width: 520px) {
  
    
    .sub_sub_project1 p{
        font-size: 12px;
    }
    
  
}

@media (min-device-width: 0px) and (max-device-width: 300px) {
  
    .sub_sub_project1 h2{
        font-size: 1em;
    }
    
    .sub_sub_project1 p{
        font-size: 11px;
    }
    
  
}

/*
.sub_project{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sub_sub_project{
    display: flex;
    justify-content: center;
}

.sub_sub_project1{
    width: 45%;
}

.sub_sub_project2{
    width: 10%;
    display: flex;
    justify-content: center;
}

.sub_sub_project3{
    width: 45%;
}


.sub_sub_project1content{
    width:  100px;
    height: 100px;
    background-color: #00b9f5;
}

.sub_sub_project2 img{
    width: 100%;
    height: 100%;
}

*/
/*

.sub_project li{
    color: rgb(112, 112, 112);
    text-align: justify;
}

#lgt-blue{
    color: #00b9f5;
}

.sub_sub_project{
    box-sizing: border-box;
}*/

/*
@media (min-device-width: 386px) and (max-device-width: 469px) {
  
    .sub_project li{
        font-size: 14px;
    }
  
}

@media (min-device-width: 0px) and (max-device-width: 385px) {
  
    .sub_project li{
        font-size: 10px;
    }
  
}*/
